
.box {
  width: 100%;
  @include grid(1, 2%);
  padding: 10px;
  & .box-text, {
    height: 40%;
    background-color: $yellow;
  }
  & .box-img {
    @include topper;
    height: 189px;
  }
  & p {
    padding: 10px;
    text-align: center;
  }
}

.photo-box {
  @include grid(1, 2%);
  & h2 {
    padding-top: 2%;
  }
  @include tablet {
    height: 100%;
    padding: 0 17px 0 17px;
    margin-bottom: 0;
    & .box-text {
      height: 37%;
    }
    & h2 {
      font-size: 20px;
    }
    & a {
      display: block;
      margin-top: 8px;
    }
  }
}

.mid-box {
  height: 100%;
  @include mobile {
    h2 {
      display: none;
    }
  }
  @include tablet {
    @include grid(2, 1%);
     & p {
       padding: 14px;
     }
  }
}
