// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.foot-nav {
  height: 100%;
  color: $white;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  & ul {
    float: right;
  }
  & li {
    display: inline;
    font-size: 12px;
    margin-right: 2px;
  }
  & p {
    display: inline;
  }
}

.footer {
  height: 30px;
  // @include tablet {
  //   margin-top: 55px;
  // }
}
