// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.foot-nav {
  height: 100%;
  padding: 5px;
  & ul {
    float: right;
  }
  & li {
    display: inline;
    margin-right: 2px;
  }
  & p {
    display: inline;
  }
}

.footer {
  height: 30px;
  @include tablet {
   height: 35px;
 }
}
