// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

//GRID
@mixin grid ($cols, $mgn) {
  float: left;
  margin-right: $mgn;
  margin-bottom: $mgn;
  width: ((100% - (($cols - 1) * $mgn)) / $cols);
    &:nth-child(#{$cols}n) {
      margin-right: 0;
    }
}

//MEDIA QUERIES
@mixin clearFix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

//IMAGES
@mixin topper {
  background-size: cover;
  background-repeat: no-repeat;
}


//RESET
@mixin marginreset {
  margin: 0;
  padding: 0;
}
