// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*, *::before, *::after {
  box-sizing: border-box;
  @include marginreset;
}

.container {
  height: 100%;
  width: 100%;
}
